<div class="navbar navbar-white bg-white box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <h2 style="color:black"><strong>Coding Gembira</strong></h2>
        </a>
        <a href="#" style="text-decoration:none; font-size: 1.5em; color:grey; border-bottom: 4px solid rgb(8, 104, 212); padding-bottom:0px !important;" class="p-2 link-secondary">Post</a>
        <h2 style="color:black"><strong>Welcome, <a href="" [routerLink]="['/profile']">{{user.username}}</a></strong></h2>
    </div>
</div>
<main role="main" class="container" >
    <div class="px-4 my-5 text-center">
        
        <div class="col-lg-6 mx-auto">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback" style="right: 5%;"></span>
                <input type="text" class="form-control" placeholder="Search" style="text-align: center;border-radius: 2em;border-color: cornflowerblue;">
            </div>
        </div>
        
    </div>
    <div *ngFor="let item of posts | paginate: { itemsPerPage: 5, currentPage: p }" class="col-lg-12 mx-auto">
        <div class="row">
            <div class="col-lg-3 text-center" >
                <strong>{{item.title}}</strong>
            </div>
            <div class="col-lg-6 text-right" >
            <td><img src="{{item.images[0]}}" alt="(sin foto!)" class="img-responsive"/></td>
        </div>
            <div class="col-lg-3" style="text-align: justify; color:grey;">$
                {{item.price}}
            </div>
        </div> 
        <div class="row pt-2">
            <div class="col-lg-3 text-center" >
            </div>
            <div class="col-lg-6" style="text-align: justify; color:grey;">
                {{item.description}}
            </div>
            <div class="col-lg-3" style="text-align: justify; color:rgba(237, 169, 10, 0.718);">
                <span class="fa fa-star checked"></span>
                {{item.rating}} (555)
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-3 text-center" >
            </div>
            <div class="col-lg-3" style="text-align: justify;">
                <a href="" [routerLink]="['/post-detail', item.id]">Detail</a>
            </div>
        </div>
        <br>
    </div>
    <br>
    <br>
    <div class="col-lg-6 mx-auto">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
    
</main>